header,main,body
{
    text-align: center;
    
}
header
{
    
    font-size:3.5em;
    background-color: DarkGray;
    width:50%;
    margin: 0 auto;
    color:black;
}

#mainContent
{
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width: 50%;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    /*
    border-style:solid;
    width:50%;
    text-align: center;
    margin: 0 auto;
    */
}